In [2]:
import pandas as pd

In [6]:
CCTV_Seoul = pd.read_csv('../data/01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [8]:
CCTV_Seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [11]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0]:'구별'}, inplace=True)
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [13]:
CCTV_Seoul.sort_values(by='소계', ascending=False).head()

     구별    소계  2013년도 이전  2014년  2015년  2016년
0   강남구  2780       1292    430    584    932
18  양천구  2034       1843    142     30    467
14  서초구  1930       1406    157    336    398
21  은평구  1873       1138    224    278    468
20  용산구  1624       1368    218    112    398

In [14]:
CCTV_Seoul.sort_values(by='소계', ascending=True).head()

     구별   소계  2013년도 이전  2014년  2015년  2016년
9   도봉구  485        238    159     42    386
12  마포구  574        314    118    169    379
17  송파구  618        529     21     68    463
24  중랑구  660        509    121    177    109
23   중구  671        413    190     72    348

In [15]:
CCTV_Seoul['최근증가율']=(CCTV_Seoul['2016년']+CCTV_Seoul['2015년']+CCTV_Seoul['2014년'])/CCTV_Seoul['2013년도 이전']*100
CCTV_Seoul.sort_values(by="최근증가율",ascending=False).head()

     구별    소계  2013년도 이전  2014년  2015년  2016년       최근증가율
22  종로구  1002        464    314    211    630  248.922414
9   도봉구   485        238    159     42    386  246.638655
12  마포구   574        314    118    169    379  212.101911
8   노원구  1265        542     57    451    516  188.929889
1   강동구   773        379     99    155    377  166.490765

In [18]:
pop_Seoul = pd.read_excel('../data/01. population_in_Seoul.xls',header=2, encoding='utf-8')
pop_Seoul.head()

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2017.1/4,합계,4202888.0,10197604.0,5000005.0,5197599.0,9926968.0,4871560.0,5055408.0,270636.0,128445.0,142191.0,2.36,1321458.0
1,2017.1/4,종로구,72654.0,162820.0,79675.0,83145.0,153589.0,75611.0,77978.0,9231.0,4064.0,5167.0,2.11,25425.0
2,2017.1/4,중구,59481.0,133240.0,65790.0,67450.0,124312.0,61656.0,62656.0,8928.0,4134.0,4794.0,2.09,20764.0
3,2017.1/4,용산구,106544.0,244203.0,119132.0,125071.0,229456.0,111167.0,118289.0,14747.0,7965.0,6782.0,2.15,36231.0
4,2017.1/4,성동구,130868.0,311244.0,153768.0,157476.0,303380.0,150076.0,153304.0,7864.0,3692.0,4172.0,2.32,39997.0

In [19]:
pop_Seoul = pd.read_excel('../data/01. population_in_Seoul.xls',header=2, usecols='B,D,G,J,N',encoding='utf-8')
pop_Seoul.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [28]:
pop_Seoul.rename(columns={pop_Seoul.columns[0]:'구별', pop_Seoul.columns[1]:'인구수', pop_Seoul.columns[2]:'한국인', pop_Seoul.columns[3]:'외국인', pop_Seoul.columns[4]:'고령자'}, inplace=True)
pop_Seoul.head()

    구별       인구수       한국인      외국인      고령자
1  종로구  162820.0  153589.0   9231.0  25425.0
2   중구  133240.0  124312.0   8928.0  20764.0
3  용산구  244203.0  229456.0  14747.0  36231.0
4  성동구  311244.0  303380.0   7864.0  39997.0
5  광진구  372164.0  357211.0  14953.0  42214.0

In [27]:
pop_Seoul.drop([0],inplace=True)
pop_Seoul.head()

KeyError: '[0] not found in axis'

In [26]:
pop_Seoul.columns

Index(['구별', '인구수', '한국인', '외국인', '고령자'], dtype='object')

In [29]:
pop_Seoul['구별'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', nan],
      dtype=object)

In [30]:
pop_Seoul[pop_Seoul['구별'].isnull()]

     구별  인구수  한국인  외국인  고령자
26  NaN  NaN  NaN  NaN  NaN

In [32]:
pop_Seoul.drop([26],inplace=True)
pop_Seoul.head()

KeyError: '[26] not found in axis'

In [34]:
pop_Seoul['외국인 비율']=pop_Seoul['외국인']/pop_Seoul['인구수']*100
pop_Seoul['고령자 비율']=pop_Seoul['고령자']/pop_Seoul['인구수']*100
pop_Seoul.head()

    구별       인구수       한국인      외국인      고령자    외국인 비율     고령자 비율
1  종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2   중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3  용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
4  성동구  311244.0  303380.0   7864.0  39997.0  2.526635  12.850689
5  광진구  372164.0  357211.0  14953.0  42214.0  4.017852  11.342849

In [35]:
pop_Seoul['외국인 비율']=pop_Seoul['외국인']/pop_Seoul['인구수']*100
pop_Seoul['고령자 비율']=pop_Seoul['고령자']/pop_Seoul['인구수']*100
pop_Seoul.head()

    구별       인구수       한국인      외국인      고령자    외국인 비율     고령자 비율
1  종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2   중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3  용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
4  성동구  311244.0  303380.0   7864.0  39997.0  2.526635  12.850689
5  광진구  372164.0  357211.0  14953.0  42214.0  4.017852  11.342849

In [45]:
pop_Seoul.sort_values(by="고령자 비율",ascending=False).head()

      구별       인구수       한국인      외국인      고령자    외국인 비율     고령자 비율
9    강북구  330192.0  326686.0   3506.0  54813.0  1.061806  16.600342
1    종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2     중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3    용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
13  서대문구  327163.0  314982.0  12181.0  48161.0  3.723221  14.720797

In [46]:
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년       최근증가율
0  강남구  2780       1292    430    584    932  150.619195
1  강동구   773        379     99    155    377  166.490765
2  강북구   748        369    120    138    204  125.203252
3  강서구   884        388    258    184     81  134.793814
4  관악구  1496        846    260    390    613  149.290780

In [47]:
pop_Seoul.head()

    구별       인구수       한국인      외국인      고령자    외국인 비율     고령자 비율
1  종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2   중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3  용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
4  성동구  311244.0  303380.0   7864.0  39997.0  2.526635  12.850689
5  광진구  372164.0  357211.0  14953.0  42214.0  4.017852  11.342849

In [48]:
data_result = pd.merge(CCTV_Seoul, pop_Seoul, on='구별')
data_result.head()

,구별,소계,2013년도 이전,2014년,2015년,2016년,최근증가율,인구수,한국인,외국인,고령자,외국인 비율,고령자 비율
0,강남구,2780,1292,430,584,932,150.619195,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217
1,강동구,773,379,99,155,377,166.490765,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638
2,강북구,748,369,120,138,204,125.203252,330192.0,326686.0,3506.0,54813.0,1.061806,16.600342
3,강서구,884,388,258,184,81,134.793814,603772.0,597248.0,6524.0,72548.0,1.080540,12.015794
4,관악구,1496,846,260,390,613,149.290780,525515.0,507203.0,18312.0,68082.0,3.484582,12.955291

In [56]:
del data_result['2014년']
del data_result['2015년']
del data_result['2016년']

In [57]:
data_result.head()

,구별,소계,최근증가율,인구수,한국인,외국인,고령자,외국인 비율,고령자 비율
0,강남구,2780,150.619195,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217
1,강동구,773,166.490765,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638
2,강북구,748,125.203252,330192.0,326686.0,3506.0,54813.0,1.061806,16.600342
3,강서구,884,134.793814,603772.0,597248.0,6524.0,72548.0,1.080540,12.015794
4,관악구,1496,149.290780,525515.0,507203.0,18312.0,68082.0,3.484582,12.955291

In [58]:
data_result.set_index('구별',inplace=True)
data_result.head()

,소계,최근증가율,인구수,한국인,외국인,고령자,외국인 비율,고령자 비율
구별,,,,,,,,
강남구,2780,150.619195,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217
강동구,773,166.490765,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638
강북구,748,125.203252,330192.0,326686.0,3506.0,54813.0,1.061806,16.600342
강서구,884,134.793814,603772.0,597248.0,6524.0,72548.0,1.080540,12.015794
관악구,1496,149.290780,525515.0,507203.0,18312.0,68082.0,3.484582,12.955291

In [59]:
corr = data_result.corr(method = 'pearson')
corr

,소계,최근증가율,인구수,한국인,외국인,고령자,외국인 비율,고령자 비율
소계,1.000000,-0.343016,0.306342,0.304287,-0.023786,0.255196,-0.136074,-0.280786
최근증가율,-0.343016,1.000000,-0.093068,-0.082511,-0.150463,-0.070969,-0.044042,0.185089
인구수,0.306342,-0.093068,1.000000,0.998061,-0.153371,0.932667,-0.591939,-0.669462
한국인,0.304287,-0.082511,0.998061,1.000000,-0.214576,0.931636,-0.637911,-0.660812
외국인,-0.023786,-0.150463,-0.153371,-0.214576,1.000000,-0.155381,0.838904,-0.014055
고령자,0.255196,-0.070969,0.932667,0.931636,-0.155381,1.000000,-0.606088,-0.380468
외국인 비율,-0.136074,-0.044042,-0.591939,-0.637911,0.838904,-0.606088,1.000000,0.267348
고령자 비율,-0.280786,0.185089,-0.669462,-0.660812,-0.014055,-0.380468,0.267348,1.000000

In [66]:
import statsmodels.api as sm
result_model = sm.OLS.from_fromula("소계 ~ 인구수", data_result).fit()
result_model.summary()

AttributeError: type object 'OLS' has no attribute 'from_fromula'